#about_us {
    background-color: rgb(246, 247, 249);
    font-size: 0.6rem;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 30px;
    color: gray;
}

.about_wrapper {
    display: flex;
    justify-content: space-between;
}

.about_container {
    width: 35%;
}

.about_title,
.menu_title,
.more_title,
.address_title,
.address_text {
    margin-bottom: 10px;
}

.menu_container {
    display: flex;
    flex-direction: column;
    width: 10%;

}

.more_container {
    display: flex;
    flex-direction: column;
}

.menu_items,
.more_title {
    display: flex;
    flex-direction: column;
}

.menu_items a {
    color: gray;
    text-decoration: none;
}

.aa {
    text-decoration: none;
    color: gray;
}

.menu_items a:hover {
    color: blue;
}

.aa:hover {
    color: blue;
}

.logos {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

i {
    height: 20px;
    width: 20px;
    border: 1px solid rgb(111, 106, 106);
    padding: 5px;
    cursor: pointer;
}

.fa-facebook-f {
    color: blue;
}

.fa-linkedin-in {
    color: rgb(51, 169, 216);
}